.cards-wrapper{
 
    display:  flex;
    justify-content: center;
    gap: 60px;
    
  
    width: 100%;
    height: 100vh;
    background-color: rgba(222, 243, 252, 0.773);

}
.card1 ,.card2{
    border: 1px solid white;
    width: 350px;
    height: 300px;
    padding: 10px;
    margin-top: 60px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: rgba(30, 30, 83, 0.25) 0px 50px 100px -20px, rgba(184, 176, 176, 0.505) 0px 30px 60px -30px;
  
}
.card1-header{
    display: flex;
    justify-content: space-between;
}
.card1-header p{

    border: 1px solid  rgb(67, 175, 67);
    background-color: rgb(67, 175, 67);
    padding:5px 15px 5px 15px;
    border-radius: 100px;
}




.card2-header{
    display: flex;
    justify-content: space-between;
}

.card2-header p{

    border: 1px solid  rgba(231, 125, 25, 0.782);
    background-color: rgba(231, 125, 25, 0.782);
    padding:5px 15px 5px 15px;
    border-radius: 100px;
}
h2{
    font-family: sans-serif;
    text-align: center;
}
.icons{
    text-align: center;
    color: rgb(17, 17, 185);
   font-size: 20px;
  
}
.skills{
    display: flex;
    
    justify-content: space-between;
}
.skills span{
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 15px;
    padding:2px 15px 2px 15px;
    /* width: 20px; */
}
#num{
    background-color:rgba(19, 19, 234, 0.827);
    color: white;
}
#text{
    padding: 2px;
    font-size: 15px;
}
hr{
    width: 60px;
}
